symbol#close(viewBox='0 0 100 100')
	path(d="M 58.844 50.001 L 98.17 10.676 C 100.613 8.234 100.613 4.274 98.17 1.832 C 95.726 -0.611 91.77 -0.611 89.327 1.832 L 50.001 41.158 L 10.674 1.832 C 8.23 -0.611 4.274 -0.611 1.83 1.832 C -0.613 4.274 -0.613 8.234 1.83 10.676 L 41.158 50.001 L 1.83 89.326 C -0.613 91.768 -0.613 95.728 1.83 98.17 C 3.052 99.389 4.653 100 6.252 100 C 7.851 100 9.452 99.389 10.674 98.168 L 50.001 58.842 L 89.327 98.168 C 90.548 99.389 92.149 100 93.748 100 C 95.347 100 96.948 99.389 98.17 98.168 C 100.613 95.726 100.613 91.766 98.17 89.324 L 58.844 50.001 Z")
