mixin social(wrapClass)
	.social(class=wrapClass)
		a.social__icon(href="https://github.com/lintrc-ui/rules/" title="We are on GitHub" target="_blank")
			svg.social__img.social__img--github #[use(xlink:href="#github")]
