.is_light

	.main-page
		color: $primary_fg_light
		border-bottom: 1px solid $border_light
		background: $primary_bg_light

	.about
		border-bottom: 1px solid $border_light
		background: linear-gradient(to bottom, transparentize($secondary_bg_light, .2), transparentize($secondary_bg_light, .05)), url('../img/title-bg.jpg') no-repeat fixed center /cover

	.about__title
		text-shadow: 1px 2px 4px $primary_bg_light, 0 0 2px $primary_fg_light

	.about__text
		color: $secondary_fg_light
